
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Lobster', cursive;
}
/*---------------------------------NAV Y HEADER------------------------------*/
.main_header{
  height: 500px;
  background-image: url(../imagenes/img\ ;3/corazon_brillante.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  
  
}

.home_heart{
    margin-top:  10px;
    height: 30px;
    width: 30px;
    position: absolute;
}

.main_nav{
    width: 100%;
    height: auto;
    border: 2px black solid;
    position: fixed;
    background: #f7d71e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #f7bd1e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #f7e91ef1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display:flex;
    flex-direction:column;
    border-radius: 10px;
    
}

.ul_main_nav{
    text-align: right;
    margin-left: 43%;
}

.contenedores_a{
    display: inline-block;
    margin-right: 30px;
    padding: 16px;
    transition: 0.5s;  
    justify-content: space-evenly;
 
   

}

.contenedores_a:hover{
    background-color:yellow;
    border-radius: 20px;
}

.links_nav{
    text-decoration: none;
    color: #E80C05;
}

/*---------------------------------------CONTENIDO INICIO---------------------------------*/
.contenedor_texto_inicio{
    width: 90%;
    margin: 50px auto;  
}

.main_titulo{
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.text_box1{
    text-align: justify;
    font-size: 20px;
    width: 70%;
    margin: auto;
}

.contenedor_texto_inicio2{
    width: 90%;
    margin: auto;
}

.que_hay{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.text_box2{
    text-align: justify;
    font-size: 20px;
    width: 70%;
    margin: auto;
}
/*--------------------------------FOOTER-------------------------------*/
footer{
    width: 100%;
    background: #f7d71e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFD200, #f7bd1e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFD200, #f7e91ef1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
    display: flex;
    flex-direction: column;
}


.cajas_contactos{
    justify-content: space-evenly;
   display: inline-block;
   margin-right: 0px; 
   padding: 26px 40px;
   transition: 0.5s;
   color:#E80C05;
  }

  .cajas_contactos:hover{
      background-color:yellow;
  }
  .links_contactos{
      text-decoration: none;
      color: #E80C05;
    }
