.titulo_juego3{
    text-align: center;
}
.contenedor_imagen_juego3{
    margin: auto;
    width: 500px;
    height: 500px;
  text-align: center;
}
.imagenJuego3{
    margin: 20px auto;
    width: 500px;
    height: 400px;
    margin-bottom: auto;
   
}