.container{
    width: 100%;
    margin: auto;
}

.canvas1{
    width: 500px;
    height: 500px;
    text-align: center;
    background-color: red;
}

.canvaCont{
   width: 500px;
   height: 500px;
   margin: auto;
   background-color: aliceblue;
}

.contBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    margin: auto;
}

.btn{
    text-align: center;
    width: 60px;
    height: 60px;
    font-size: 35px;
    margin: 30px;
}



.cont1{
    display: flex;
    flex-direction: row;
}

.cont2{
    display: flex;
    flex-direction: row;
}

#puntos{
    font-size: 20px;
}

.containerLinks{
    margin-top: 50px;
}