.contenedor_carta1{
    width: 90%;
    margin: 20px auto;
    text-align: center;
    height: auto;
}

.titulo_carta1{
    text-align: center;
    font-size: 40px;
}

.carta1{
    text-align: center;
    width: 70%;
    margin: auto;
    font-size: 18px;
}

.contenedor_carta2{
    width: 90%;
    margin: 20px auto;
    text-align: center;
    height: auto;
}

.titulo_carta2{
    font-size: 50px;
    color:yellow;
    text-decoration: black dashed;
}

.carta2{
    font-size: 18px;
    display: inline-block;
    width: 70%;
    margin: auto;
}


/*--<------------------------------------------------------CARTA 3----------------------------------------------------------*/

.contenedor_carta3{
    width: 90%;
    margin:20px auto ;
    text-align: center;
    height: auto;
}

.titulo_carta3{
    font-size: 50px;
    color: red;
}

.carta3{
    width: 70%;
    margin: auto;
    font-size: 18px;
    display: inline-block;
}