.containerArts{
    background-color: rgb(163, 1, 1);
    width: 800px;
    height: 500px;
    font-size: 20px;
    margin: auto;
}

.art1{
 font-family: Consolas;
 font-size: 16px;
 padding-left: 100px;
 font-weight: bold;
}

.arts_title{
    width: 100%;
    background-color: gold;
    font-size: 65px;
    text-align: center;
    margin:0px;
}