*{
    box-sizing: border-box;
}
.audioContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.containerAudio{
    width: 25%;
    height: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 30px;
    background-color: darkred;
}

.audioControl{
    margin: auto;
}

.audioName{
    color: gold;
}